__pycache__

# Generated bash scripts to run simulations
generated/

# Output directory holding simulation results
hpic_results/
rustbca_simulations
rustbca_simulation_examples

*.mp4

# Script specific to hpic simulations
get_total_pushes.sh
